@import './color.scss';

:export {
  titleActive: $title-active;
  body: $body;
  label: $label;
  placeholder: $placeholder;
  line: $line;
  background: $background;
  off-white: $off-white;
  primary1: $primary1;
  primary2: $primary2;
  primary3: $primary3;
  grey1: $grey1;
  grey2: $grey2;
  grey3: $grey3;
  error: $error;
}
