$title-active: #1E2222;
$body: #626666;
$label: #8D9393;
$placeholder: #C1C5C5;
$line: #CCD3D3;
$background: #F5F5F5;
$off-white: #FCFCFC;
$primary1: #2AC1BC;
$primary2: #A0E1E0;
$primary3: #219A95;
$grey2: #BBBBBB;
$error: #F45452;
