* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}
