@import '@/core/styles/color.scss';

.cash-record-list {
  display: flex;
  flex-direction: column;
  margin: 2rem 12vw;
}

.daily-summary {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid $line;
  font-size: 1rem;

  .date {
    width: fit-content;
  }

  .total {
    width: fit-content;
    color: $body;
  }
}

.record {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  border-bottom: 1px solid $line;
  font-size: 1rem;

  &:hover {
    background-color: $grey3;
  }
}

.record-left {
  display: flex;
  width: fit-content;
  align-items: center;
}

.category {
  display: flex;
  width: 6rem;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  margin-right: 1rem;
  background-color: violet;
  color: $off-white;
  border-radius: 999px;
}

.title {
  width: 30rem;
}

.payment {
  color: $body;
}

.record-value {
  margin-left: auto;
}

.delete-btn {
  background-color: $error;
  border-radius: 12px;
  border: none;
  width: fit-content;
  margin: 0 12px;
  height: 28px;
  color: $off-white;
  cursor: pointer;
  display: none;

  &.active {
    display: block;
  }
}
