@import "../../core/styles/color.scss";

.header {
  width: 100%;
  height: 160px;
  display: flex;
  background-color: $primary;
  color: $off-white;
  justify-content: space-between;
  font-family: 'Do Hyeon', sans-serif;
  align-items: center;
  padding: 20px 16vw;
}

.title {
  width: 200px;
  font-size: 40px;
}

.date {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year {
  font-size: 28px;
  text-align: center;
}

.month {
  font-size: 48px;
  margin-bottom: 12px;
  text-align: center;
}

.button {
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
}

.menu {
  width: 200px;
  font-size: 24px;
  display: flex;
  justify-content: center;

  a {
    margin-left: 16px;
    color: white;
  }
}


